@use '../foundation/foundation' as *;

.l-wrapper {
  margin-right: auto;
  margin-left: auto;
  @include media(sp) {
    width: sp(340);
  }
  @include media(pc) {
    width: pc(1280);
  }
  &.__s {
    @include media(pc) {
      width: pc(960);
    }
  }
}
