---
import Layout from '../layouts/Layout.astro';
import Header from '../layouts/Header.astro';
import Card from '../components/Card.astro';
import ImageFrame from '../modules/ImageFrame.astro';
const imagePath = './assets/images/';
// headタグ
const title = 'Tips | TOP';
const description = 'Tips | TOP';
---

<Layout {title} {description} pageData="top">
  <Header />
  <div class="p-top">
    <Card link="/js/page-01/" category="js" title="アンカーリンク(GSAP)" />
    <Card
      link="/js/page-02/"
      category="js"
      title="スクロールフェードイン<br>(GSAP IntersectionObserver)"
    />
    <Card link="/js/page-03/" category="js" title="非同期遷移(barba.js)" />
    <Card
      link="/js/page-04/"
      category="js"
      title="テキスト一文字ずつ表示(GSAP)"
    />
    <Card
      link="/js/page-05/"
      category="js"
      title="スクロールに応じて拡大(GSAP)"
    />
    <Card
      link="/js/page-06/"
      category="js"
      title="スクロール + テキスト一文字ずつ表示(GSAP)"
    />
    <Card link="/js/page-07/" category="js" title="パララックス(GSAP)" />
    <Card link="/js/page-08/" category="js" title="カードスライド(swiper)" />
    <Card
      link="/js/page-09/"
      category="js"
      title="シンプルなスライド(splide)"
    />
    <Card link="/js/page-10/" category="js" title="hoverで画像表示" />
    <Card link="/js/page-11/" category="js" title="FVアニメーション" />
    <Card link="/js/page-12/" category="js" title="Promise" />
    <Card link="/js/page-13/" category="js" title="スクロールで画像拡大" />
    <Card link="/other/page-01/" category="other" title="アコーディオン" />
    <Card link="/css/page-01/" category="css" title="モーフィング" />
    <Card link="/css/page-02/" category="css" title="動画にマスク" />
    <Card link="/css/page-03/" category="css" title="grid" />
    <Card link="/js/page-14/" category="js" title="canvas" />
    <Card
      link="/js/page-15/"
      category="js"
      title="フローティング表示・非表示"
    />
    <Card link="/js/page-16/" category="js" title="vimeoの制御" />
    <Card link="/js/page-17/" category="js" title="FVアニメーション(2)" />
    <Card link="/js/page-18/" category="js" title="hover" />
  </div>
</Layout>

<style lang="scss">
  @use '../styles/foundation/setting/mixin' as *;
  @use '../styles/foundation/setting/function' as *;
  @use '../styles/foundation/variable/color' as *;
  .p-top {
    @include media(sp) {
      margin-top: sp(80);
    }
    @include media(pc) {
      margin-top: pc(240);
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      // display: flex;
      // flex-wrap: wrap;
      // gap: pc(40);
    }
  }
</style>
