---
const { link, category, title } = Astro.props;
// const now = new Date();
// const date = now.toLocaleDateString('ja-JP');
---

<a href=`${link}` class="c-card">
  <div class="c-card_area">
    <h3 class="c-card_title" set:html={title} />
    <div class={`c-card_inner  ${'__' + category}`}>
      <span class="c-card_category">{category}</span>
    </div>
  </div>

  <style lang="scss">
    @use '../styles/foundation/setting/mixin' as *;
    @use '../styles/foundation/setting/function' as *;
    @use '../styles/foundation/variable/color' as *;
    .c-card {
      display: block;
      border-bottom: 1px solid $color_black_01;
      border-right: 1px solid $color_black_01;
      &:nth-of-type(4n) {
        border-right: none;
      }
      &:nth-of-type(4n + 1) {
        border-left: none;
      }
      &:nth-of-type(-n + 4) {
        border-top: 1px solid $color_black_01;
      }
      @media (any-hover: hover) {
        &:hover {
          > .c-card_area {
            > .c-card_title {
              opacity: 0;
              visibility: hidden;
              transition: 0.2s linear;
              transition-property: opacity, visibility;
            }
            > .c-card_inner {
              // scale: 1;
              opacity: 1;
              visibility: visible;
              transition: 0.85s ease-in-out;
            }
          }
        }
      }
      @include media(sp) {
        width: 100%;
      }
      @include media(pc) {
        width: 100%;
      }
      > .c-card_area {
        aspect-ratio: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        > .c-card_title {
          color: $color_black_01;
          text-align: center;
          opacity: 1;
          visibility: visible;
          transition: 0.5s linear;
          transition-delay: 0.8s;
          transition-property: opacity, visibility;
          @include media(pc) {
            font-size: pc(18);
          }
        }
        > .c-card_inner {
          width: 100%;
          aspect-ratio: 1;
          position: absolute;
          display: flex;
          align-items: center;
          justify-content: center;
          // scale: 0;
          opacity: 0;
          visibility: hidden;
          transition: 0.5s linear;
          transition-delay: 0.7s;
          // border: 1px solid rgb(110, 110, 110);
          &.__js {
            background-color: rgb(224, 255, 27);
          }
          &.__css {
            background-color: rgb(0, 29, 245);
          }
          > .c-card_category {
            font-size: pc(48);
            color: rgb(110, 110, 110);
          }
        }
      }
    }
  </style>
</a>
