---
const { link, category, title } = Astro.props;
// const now = new Date();
// const date = now.toLocaleDateString('ja-JP');
---

<a href=`${link}` class="c-card">
  <div class="c-card_area">
    <div class="c-card_head">
      <p class="c-card_tag">{category}</p>
    </div>
    <div class="c-card_body">
      <h3 class="c-card_title">{title}</h3>
    </div>
  </div>
</a>

<style lang="scss">
  @use '../styles/foundation/setting/mixin' as *;
  @use '../styles/foundation/setting/function' as *;
  @use '../styles/foundation/variable/color' as *;
  .c-card {
    display: block;
    @include media(sp) {
      width: 100%;
    }
    @include media(pc) {
      width: pc(290);
    }
    > .c-card_area {
      > .c-card_head {
        aspect-ratio: 1;
        border: 1px solid $color_black_01;
        display: flex;
        align-items: center;
        justify-content: center;
        @include media(sp) {
          width: 100%;
          border-radius: sp(8);
        }
        @include media(pc) {
          width: pc(290);
          border-radius: pc(8);
        }
        > .c-card_tag {
          color: $color_black_01;
          @include media(sp) {
            font-size: sp(28);
          }
          @include media(pc) {
            font-size: pc(40);
          }
        }
      }
      > .c-card_body {
        position: relative;
        @include media(sp) {
          margin-top: sp(16);
          min-height: sp(96);
        }
        @include media(pc) {
          margin-top: pc(16);
          min-height: pc(140);
        }
        > .c-card_title {
          color: $color_black_01;
          @include media(sp) {
            font-size: sp(16);
          }
          @include media(pc) {
            font-size: pc(24);
          }
        }
      }
    }
  }
</style>
