---
import Layout from '../../layouts/Layout.astro';
import Header from '../../layouts/Header.astro';
import Button from '../../components/Button.astro';
import ImageFrame from '../../modules/ImageFrame.astro';
const imagePath = './assets/images/';
// headタグ
const metadata = {
  title: 'Tips | js フローティング表示・非表示',
  description: 'Tips | js フローティング表示・非表示',
};
---

<Layout {...metadata} pageData="page16">
  <Header />
  <div class="p-page16">
    <iframe
      src="https://player.vimeo.com/video/154373242?autoplay=1&loop=1&background=1"
      width="640"
      height="360"
      allow="autoplay; fullscreen; picture-in-picture"
      data-video
      allowfullscreen></iframe>
    <div class="p-page15_floating">
      <Button
        text="音声 on/offボタン"
        className=""
        data={{ 'data-button': 'muting' }}
      />
    </div>
  </div>
</Layout>

<style lang="scss">
  @use '../../styles/foundation/setting/mixin' as *;
  @use '../../styles/foundation/setting/function' as *;
  @use '../../styles/foundation/variable/color' as *;
  .p-page16 {
    width: 100%;
    height: 100dvh;
    display: grid;
    place-content: center;
    place-items: center;
    gap: pc(16);
  }
</style>
