---
import Layout from '../../layouts/Layout.astro';
import Header from '../../layouts/Header.astro';
import Button from '../../components/Button.astro';
import ImageFrame from '../../modules/ImageFrame.astro';
const imagePath = './assets/images/';
// headタグ
const title = 'Tips | js GSAP';
const description = 'Tips | js GSAP';
---

<Layout {title} {description} pageData="page04">
  <Header />
  <div class="p-page04">
    <div class="p-page04_fv">
      <div class="p-page04_inner">
        <h2 class="p-page_title" data-split>テキスト一文字ずつ表示</h2>
        <div class="p-page04_button">
          <Button
            link="#"
            text="再度読み込み"
            className=""
            data={{ 'data-load': '' }}
          />
        </div>
      </div>
    </div>
  </div>
</Layout>
<style lang="scss">
  @use '../../styles/foundation/setting/mixin' as *;
  @use '../../styles/foundation/setting/function' as *;
  @use '../../styles/foundation/variable/color' as *;
  .p-page04 {
    position: relative;
    > .p-page04_fv {
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      background-color: $color_white_01;
      display: flex;
      align-items: center;
      justify-content: center;
      @include media(pc) {
        font-size: pc(40);
      }
      > .p-page04_inner {
        > .p-page04_title {
          > span {
            opacity: 0;
          }
        }
        > .p-page04_button {
          display: flex;
          align-items: center;
          justify-content: center;
          @include media(pc) {
            margin-top: pc(40);
          }
        }
      }
    }
  }
</style>
